<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Solemates"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".userusernamecheckforemailupdateActivity"
            android:exported="false" />
        <activity
            android:name=".usereditprofilActivity"
            android:exported="false" />
        <activity
            android:name=".userprofilActivity"
            android:exported="false" />
        <activity
            android:name=".vrifynoforpassupdateActivity"
            android:exported="false" />
        <activity
            android:name=".updateshopkeeperpassworrdActivity"
            android:exported="false" />
        <activity
            android:name=".shopkeeperhomeactivityActivity"
            android:exported="false" />
        <activity
            android:name=".deliverylhomeActivity"
            android:exported="false" />
        <activity
            android:name=".admminhomeActivity"
            android:exported="false" />
        <activity
            android:name=".verificationforshopkeeperActivity"
            android:exported="false" />
        <activity
            android:name=".userhomeActivity"
            android:exported="false"
            android:theme="@style/showactionbar" />
        <activity
            android:name=".forgottenpasswordforshopkeeperActivity"
            android:exported="false" />
        <activity
            android:name=".shopkeepersignupActivity"
            android:exported="false" />
        <activity
            android:name=".deliveryloginActivity"
            android:exported="false" />
        <activity
            android:name=".adminloginActivity"
            android:exported="false" />
        <activity
            android:name=".shopkeeperloginActivity"
            android:exported="false" />
        <activity
            android:name=".loginselectActivity"
            android:exported="false" />
        <activity
            android:name=".updatepasswordActivity"
            android:exported="false" />
        <activity
            android:name=".otpforforgottenpasswordActivity"
            android:exported="false" />
        <activity
            android:name=".forgottenpasswordnumberActivity"
            android:exported="false" />
        <activity
            android:name=".otp_verificationActivity"
            android:exported="true" />
        <activity
            android:name=".profilActivity"
            android:exported="false" />
        <activity
            android:name=".loginActivity"
            android:exported="false" />
        <activity
            android:name=".signupActivity"
            android:exported="false" />
        <activity
            android:name=".welcomepageActivity"
            android:exported="false" />
        <activity
            android:name=".splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>